# Build folders
build/
out/
bin/
Debug/
Release/
x64/
artifacts/
vcpkg_installed/
.vs/
*.suo
*.sdf
*.opensdf
*.VC.db

# VSCode
.vscode/

# Visual Studio
*.user
*.userosscache
*.sln.docstates

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Object files, libraries, binaries
*.o
*.obj
*.dll
*.exe
*.lib
*.pdb
*.ilk
*.is_google_test

# Logs
*.log

# Other
*.DS_Store
